In [2]:
import numpy as np
import pandas as pd

# Question 1
What's the version of NumPy that you installed?

In [63]:
# Ans. 
np.__version__

'1.23.2'

## Prerequisites for the next questions

In [64]:
df = pd.read_csv("./helper files/data.csv")
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

# Question 2
How many records are in the dataset?
Here you need to specify the number of rows.

In [65]:
# Ans.
num_records = df.shape[0]
num_records

11914

# Question 3
Who are the most frequent car manufacturers (top-3) according to the dataset?

In [66]:
# Ans.
df['Make'].value_counts()[:3].index

Index(['Chevrolet', 'Ford', 'Volkswagen'], dtype='object')

# Question 4
What's the number of unique Audi car models in the dataset?

In [67]:
# Ans.
unique_audi_models = df[df['Make'] == 'Audi']['Model'].nunique()
unique_audi_models

34

# Question 5
How many columns in the dataset have missing values?

In [68]:
# Ans.
def get_missing_value_cols():
    miss_values_cols = df.isnull().sum()
    miss_value_count = 0
    for value in miss_values_cols.values:
        if value > 0:
            miss_value_count += 1
            
    return miss_value_count

In [69]:
get_missing_value_cols()

5

# Question 6

1. Find the median value of "Engine Cylinders" column in the dataset.
2. Next, calculate the most frequent value of the same "Engine Cylinders".
3. Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
4. Now, calculate the median value of "Engine Cylinders" once again.
Has it changed?

In [70]:
df["Engine Cylinders"]

0        6.0
1        6.0
2        6.0
3        6.0
4        6.0
        ...
11909    6.0
11910    6.0
11911    6.0
11912    6.0
11913    6.0
Name: Engine Cylinders, Length: 11914, dtype: float64

In [71]:
# Ans. 6.1
median_eng_cylinders = df['Engine Cylinders'].median()
median_eng_cylinders

6.0

In [72]:
# Ans. 6.2
most_freq_eng_cylinders = df["Engine Cylinders"].mode()[0]
most_freq_eng_cylinders

4.0

In [73]:
# Ans. 6.3
df["Engine Cylinders"].fillna(most_freq_eng_cylinders)

0        6.0
1        6.0
2        6.0
3        6.0
4        6.0
        ...
11909    6.0
11910    6.0
11911    6.0
11912    6.0
11913    6.0
Name: Engine Cylinders, Length: 11914, dtype: float64

In [74]:
# Ans. 6.4
new_median_eng_cylinders = df["Engine Cylinders"].median()
new_median_eng_cylinders

6.0

# Question 7
1. Select all the "Lotus" cars from the dataset.
2. Select only columns "Engine HP", "Engine Cylinders".
3. Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
4. Get the underlying NumPy array. Let's call it X.
5. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
6. Invert XTX.
7. Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
8. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
9. What's the value of the first element of w?

In [94]:
# Ans. 
lotus_cars = df[df['Make'] == 'Lotus']    # 7.1

filter_data = lotus_cars[["Engine HP", "Engine Cylinders"]]    # 7.2

filter_data = filter_data.drop_duplicates()    # 7.3

X = filter_data.to_numpy(dtype=np.int64)    # 7.4
# print(X)

XT = X.transpose()
# print(f"Transpose: {XT}")

XTX = XT.dot(X)    # 7.5
# print(f"Dot: {XTX}")

XTX_inv = np.linalg.inv(XTX)     # 7.6
# print(f"Inverse XTX: {XTX_inv}")

y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])    # 7.7

XTX_inv_XT = XTX_inv.dot(XT)
w = XTX_inv_XT.dot(y)    # 7.8
w[0]    # 7.9

4.594944810094551